@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}roadmap';

#{$block} {
    --roadmap-separator-width: 28px;
    --roadmap-background-color: var(--g-color-base-background);
    --roadmap-tail-color: rgba(255, 255, 255, 0.72);
    --roadmap-default-task-color: rgba(255, 255, 255, 0.5);
    --roadmap-completed-task-color: var(--g-color-base-special);
    --roadmap-progress-task-color: rgba(255, 255, 255, 0.7);

    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;

    &::before {
        content: ' ';
        position: absolute;
        top: pcVariables.$indentXS;
        left: calc(var(--roadmap-separator-width) / 2 - 0.5px);
        background-image: linear-gradient(var(--roadmap-tail-color) 33%, transparent 0%);
        background-size: 1px 3px;
        background-position: 50% 50%;
        background-repeat: repeat-y;
        width: 1px;
        height: 100%;
    }
}
