@use '../../../../variables.scss';

$block: '.#{variables.$ns}dashboard-example-header';

section#{$block} {
    height: 60px;
}

#{$block} {
    padding: var(--g-spacing-2) var(--g-spacing-4);

    .gn-action-bar-section_type_primary {
        padding-inline: 0 var(--g-spacing-3);
    }

    .gn-action-bar-section_type_secondary {
        padding-inline: var(--g-spacing-3) 0;
    }

    &__input {
        --g-text-input-border-radius: var(--g-border-radius-s);
    }

    &__search-icon {
        margin-inline-start: var(--g-spacing-2);
        color: var(--g-color-text-secondary);
    }

    &__centered {
        display: flex;
        align-items: center;
        gap: var(--g-spacing-3);
    }

    & &__centered_margin {
        margin-inline-start: auto;
        margin-inline-end: var(--g-spacing-8);
    }

    &__export {
        --g-button-border-radius: var(--g-border-radius-s);
    }
}
