@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}libraries';

#{$block} {
    @include pcStyles.animate();
    position: relative;

    .slick-list {
        padding-top: 32px;
    }

    &__slider-item-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
