@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '~@gravity-ui/uikit/styles/mixins' as ukitMixins;
@use '../../../variables.scss';

$pg: '.#{variables.$ns}graph-playground';
$radio: '.#{variables.$ns}graph-playground-radio-buton';

#{$radio} {
    --_--border-radius: 8px;
    --g-color-base-brand: rgba(255, 190, 92, 1);
    --g-color-base-background: var(--g-color-base-brand);
    --g-color-text-primary: var(--g-color-text-dark-primary);

    .g-radio-button__option {
        &:hover .g-radio-button__option-text {
            --g-color-text-primary: var(--g-color-text-light-primary);
        }

        &_checked {
            &:hover .g-radio-button__option-text {
                --g-color-text-primary: var(--g-color-text-dark-primary);
            }
        }
    }
}

#{$pg} {
    height: 100%;
    position: relative;

    &__layout-button {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__content {
        &_graph {
            min-width: 50%;
        }

        #{$pg} {
            &__title {
                line-height: var(--g-text-display-1-line-height);
            }
        }

        &_hidden {
            width: 0;
            /* stylelint-disable declaration-no-important */
            flex: 0 !important;
            visibility: hidden;
        }
    }

    &__view {
        border: 1px solid transparent;
        border-radius: 24px;
        overflow: hidden;
        position: relative;

        &_config-editor {
            border-radius: 10px;
            border-color: rgba(255, 255, 255, 0.2);
        }

        &_graph-editor {
            background-color: var(--g-color-base-background);
        }
    }

    &__graph-tools {
        height: 100%;
        pointer-events: none;
        position: absolute;
        left: 20px;
        z-index: 10;

        #{$pg} {
            &__zoom {
                pointer-events: all;
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                left: 0;
                z-index: 10;
                transform: translate(0, -50%);
            }

            &__graph-settings {
                pointer-events: all;
                box-sizing: border-box;
                position: absolute;
                bottom: 20px;
                left: 0;
                z-index: 10;
            }
        }
    }

    .g-button,
    .g-radio-button {
        --_--border-radius: 8px;
    }

    .button-group {
        .g-button {
            border-radius: 0;

            &::before,
            &::after {
                border-radius: 0;
            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--yc-color-base-misc-light);
            }

            &:first-child {
                border-top-right-radius: var(--g-button-border-radius, var(--_--border-radius));
                border-top-left-radius: var(--g-button-border-radius, var(--_--border-radius));

                &::before,
                &::after {
                    border-top-right-radius: var(--g-button-border-radius, var(--_--border-radius));
                    border-top-left-radius: var(--g-button-border-radius, var(--_--border-radius));
                }
            }

            &:last-child {
                border-bottom-right-radius: var(--g-button-border-radius, var(--_--border-radius));
                border-bottom-left-radius: var(--g-button-border-radius, var(--_--border-radius));

                &::before,
                &::after {
                    border-bottom-right-radius: var(
                        --g-button-border-radius,
                        var(--_--border-radius)
                    );
                    border-bottom-left-radius: var(
                        --g-button-border-radius,
                        var(--_--border-radius)
                    );
                }
            }
        }
    }
}
