@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '../../variables.scss';

$block: '.#{variables.$ns}examples';

#{$block} {
    @include pcStyles.animate();

    --g-border-radius-l: 8px;

    &__header-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 16px;
        min-width: 260px;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            flex-wrap: wrap;
        }
    }

    &__header-title {
        @include pcStyles.heading2();
        padding: 0;
    }

    &__controls {
        display: flex;
        align-items: center;
        order: 0;
        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            margin-top: 32px;
            order: 3;
            flex-grow: 1;
        }
    }

    &__control {
        [dir='ltr'] & {
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }

        [dir='rtl'] & {
            margin-left: 16px;

            &:last-child {
                margin-left: 0;
            }
        }

        &_type_color {
            min-width: 200px;

            @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
                width: auto;
                flex-grow: 1;
            }
            @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
                min-width: unset;
                flex-grow: 1;
            }
        }

        &_type_theme {
            --g-color-base-background: rgba(37, 27, 37, 0.8);

            @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
                .g-radio-button_size_xl .g-radio-button__option-text {
                    margin: 0 8px;
                }
            }
        }
    }

    &__color-option {
        display: flex;
        align-items: center;
    }

    &__color-option-icon {
        width: 14px;
        height: 14px;
        border-radius: 3px;

        [dir='ltr'] & {
            margin-right: 12px;
        }

        [dir='rtl'] & {
            margin-left: 12px;
        }

        &_color_yellow {
            background-color: #ffbe5c;
        }

        &_color_red {
            background-color: #ff5958;
        }

        &_color_green {
            background-color: #3bbc50;
        }

        &_color_blue {
            background-color: #5282ff;
        }
    }

    &__theme-icon {
        margin: 0 10px;
    }

    &__showcase-wrapper {
        margin-top: 32px;
    }
}
