@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../../variables.scss';

$block: '.#{variables.$ns}list-card';

#{$block} {
    background-color: var(--interactive-list-bg-color);
    border-radius: 6px;
    box-shadow: 1px 3px 13px 0px rgba(0, 0, 0, 0.05), 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
    height: 136px;

    &__filter {
        padding: 8px;
        margin-bottom: 0;
    }

    &__item {
        padding: 4px 8px 4px 12px;
    }

    .g-list__items_virtualized {
        /* stylelint-disable */
        height: 90px !important;
        /* stylelint-enable */
    }
}
