@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}custom-header';

#{$block} {
    margin-top: 76px;

    @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
        margin-top: 32px;
    }

    &__title {
        @include pcStyles.heading1();
        max-width: 800px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        margin-top: 32px;

        @media (max-width: variables.$extraSmallBreakpoint - 1) {
            flex-direction: column;
        }
    }

    &__button {
        margin: 0 8px;

        @media (max-width: variables.$extraSmallBreakpoint - 1) {
            margin-top: 10px;
            width: 100%;
        }
    }

    &__news {
        padding: 32px 16px;
        border-radius: 24px;
        background-color: rgba(37, 27, 37, 0.5);
        backdrop-filter: blur(60px);

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            margin-top: 32px;
        }
    }

    &__banner {
        overflow: hidden;
        border-radius: 24px;
        background-color: rgba(37, 27, 37, 0.5);
        backdrop-filter: blur(60px);
    }
    &__banner-image {
        width: 100%;
    }
    &__banner-text {
        padding: 12px 32px 32px;
    }
    &__banner-title {
        @include pcStyles.heading4();
        margin-bottom: 16px;
    }
    &__banner-content {
        @include pcStyles.text-size(body-2);

        a {
            color: #ffbe5c;
            text-decoration: none;

            &:visited {
                color: #ffbe5c;
            }

            &:hover {
                color: #f3cb8f;
            }
        }
    }

    &__news-title {
        @include pcStyles.heading4();

        padding: 0 16px;
        margin-bottom: 16px;
    }

    &__news-item {
        padding: 0 16px;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__news-item-date {
        margin-bottom: 4px;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.35);
    }

    &__news-item-content {
        @include pcStyles.text-size(body-2);

        a {
            color: #ffbe5c;
            text-decoration: none;

            &:visited {
                color: #ffbe5c;
            }

            &:hover {
                color: #f3cb8f;
            }
        }
    }
}
