@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '~@gravity-ui/page-constructor/styles/mixins.scss' as pcMixins;
@use '~@gravity-ui/uikit/styles/mixins.scss' as uikitMixins;
@use '../../mixins.scss' as baseMixins;
@use '../../variables.scss';

$block: '.#{variables.$ns}custom-header';

#{$block} {
    margin-top: 76px;

    @include baseMixins.window-breakpoint('sm') {
        margin-top: 32px;
    }

    &__title {
        @include pcStyles.heading1();
        max-width: 800px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        margin-top: 32px;

        @media (max-width: variables.$extraSmallBreakpoint - 1) {
            flex-direction: column;
        }
    }

    &__button {
        margin: 0 8px;

        @media (max-width: variables.$extraSmallBreakpoint - 1) {
            margin-top: 10px;
            width: 100%;
        }
    }

    &__extra {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;

        @include baseMixins.window-breakpoint('lg') {
            margin-top: 30px;
        }
    }

    &__news {
        padding: 32px 16px;
        border-radius: 24px;
        background-color: rgba(37, 27, 37, 0.5);
        backdrop-filter: blur(60px);
    }

    &__news-title {
        @include pcStyles.heading4();

        padding: 0 16px;
        margin-bottom: 16px;
    }

    &__news-item {
        padding: 0 16px;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__news-item-date {
        margin-bottom: 4px;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.35);
    }

    &__news-item-content {
        @include pcStyles.text-size(body-2);

        a {
            color: #ffbe5c;
            text-decoration: none;

            &:visited {
                color: #ffbe5c;
            }

            &:hover {
                color: #f3cb8f;
            }
        }
    }

    &__banner {
        @include pcMixins.reset-link-style();
        @include uikitMixins.text-body-2();

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        padding: 24px 32px;
        color: var(--g-color-text-brand-contrast);
        background-color: var(--g-color-base-brand);
        border-radius: 24px;
        transition: background-color 0.15s linear;

        &-icon {
            flex-shrink: 0;
        }

        &:hover {
            background-color: var(--g-color-base-brand-hover);
        }
    }
    &__badges-wrapper {
        padding: var(--g-spacing-4) 0;
        border-right: 1px solid var(--g-color-line-generic);
        flex-direction: column;
        gap: var(--g-spacing-7);

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            border-right: unset;
            border-top: 1px solid var(--g-color-line-generic);
            border-bottom: 1px solid var(--g-color-line-generic);
            flex-direction: row;
            gap: var(--g-spacing-2);
            justify-content: space-evenly;
        }
    }
    &__badges-col {
        flex: 1;
        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            padding-right: unset;
            order: 2;
        }
    }
    &__title-col {
        flex: 10;
        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            padding-right: unset;
            order: 1;
        }
    }
    &__title-with-badges {
        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            flex-direction: column;
        }
    }
}
