@use '../../../mixins.scss' as baseMixins;
@use '../../../variables.scss';

$block: '.#{variables.$ns}navigation-layout-section-block';

#{$block} {
    border-radius: 12px;

    &__header {
        position: sticky;
        top: 64px;
        display: flex;
        padding: 14px 0 13px;
        font-size: 17px;
        line-height: 24px;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        align-items: center;
        background: var(--g-color-base-modal);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        box-sizing: content-box;

        &_active {
            background: rgba(255, 190, 92, 0.1);
            color: #ffbe5c;
        }
    }

    &__title {
        flex: 1;
    }

    &__library-version {
        margin-left: 20px;
    }

    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 16px;
        transition: transform 0.2s ease-in-out;

        &_open {
            transform: rotate(-180deg);
        }
    }

    &__sub-sections {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;

        &_open {
            max-height: 5000px;
            opacity: 1;
        }
    }

    &__sub-section {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        border-radius: 12px;
        font-size: 15px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background: var(--g-color-base-generic-hover);
        }

        &_active {
            background: rgba(255, 190, 92, 0.1);
            color: #ffbe5c;

            &:hover {
                background: rgba(255, 190, 92, 0.1);
                color: #ffbe5c;
            }
        }

        &_disabled {
            color: var(--g-color-text-secondary);
            cursor: default;

            &:hover {
                background: none;
            }

            #{$block}__sub-section-text {
                opacity: 0.5;
            }
        }
    }

    &__sub-section-icon {
        display: flex;
        align-items: center;
        margin-left: 8px;
    }

    @include baseMixins.window-breakpoint('lg') {
        background: var(--g-color-base-modal);

        &__header {
            position: static;
            top: initial;
            padding: 16px 20px;
            margin-top: 16px;
            background: none;
            border: none;
            box-sizing: inherit;
        }

        &__sub-sections {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }

        &__sub-section {
            margin-top: 4px;

            &:first-child {
                margin-top: 8px;
            }
        }
    }
}
