.editor-wrap {
  width: 100%;
}

.actions {
  padding: var(--g-spacing-3);
  border-top: 1px solid var(--g-color-base-float-accent-hover)
}

.actions .hotkey {
  --g-color-text-hint: var(--g-color-text-dark-hint);
}