@use '../../../../variables.scss';

$block: '.#{variables.$ns}examples-task-tracker';

#{$block} {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__main {
        padding: var(--g-spacing-5);
    }

    &__footer {
        padding: var(--g-spacing-5);
        display: flex;
        margin-top: auto;
        border-top: 1px solid var(--g-color-line-generic);
        gap: var(--g-spacing-5);
    }
}
