@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../variables.scss';

$block: '.#{variables.$ns}roadmap-item';

$iconHeight: 28px;
$itemBottomPadding: pcVariables.$indentXS;

$defaultLineColor: rgba(255, 255, 255, 0.72);

#{$block} {
    display: flex;
    list-style: none;
    padding-bottom: $itemBottomPadding;

    &:last-child {
        padding-bottom: 0;
    }

    &__separator {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: pcVariables.$indentXS;
        width: var(--roadmap-separator-width);
        flex-shrink: 0;
        position: relative;

        &::after {
            content: ' ';
            position: absolute;
            height: calc(100% + pcVariables.$indentXS);
        }
    }

    &_completed {
        &:has(+ #{$block}_completed) {
            #{$block}__separator {
                &::after {
                    color: var(--roadmap-completed-task-color);
                    border-left: 4px solid;
                }
            }
        }
    }

    &_planned {
        #{$block}__content {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    &__link {
        width: 100%;
    }

    &__wrapper {
        display: flex;
        flex-grow: 1;
        background: #251b25;
        padding: pcVariables.$indentS;
        padding-right: 52px;
        border-radius: 16px;
        position: relative;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            margin-left: pcVariables.$indentXXXS;
        }
    }

    &__content {
        @include pcStyles.text-size(body-2);
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: #fff;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            flex-direction: column;
        }
    }

    &__status {
        @include pcStyles.text-size(caption-2);
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.35);
        font-weight: 600;
        flex-shrink: 0;
        margin-left: pcVariables.$indentXXXS;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            margin-top: pcVariables.$indentXXXS;
            margin-left: 0;
        }
    }

    &__arrow {
        right: pcVariables.$indentSM;
        position: absolute;
        color: rgba(255, 255, 255, 0.5);
    }
}
