@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../../variables.scss';

$block: '.#{variables.$ns}libraries-library-preview';

#{$block} {
    text-decoration: none;

    &__content {
        height: 292px;
        width: 100%;
        border-radius: 24px;
        overflow: hidden;
        color: rgba(255, 255, 255, 0.7);
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: translateY(-6px);

            #{$block}__text {
                overflow: hidden;
                max-height: 100px;
                transition: max-height 0.5s ease;
            }
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            &:hover {
                transform: translateY(0);
            }
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            height: 406px;
        }
    }

    &__content_primary {
        height: 600px;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            height: 406px;
        }
        #{$block}__text {
            overflow: hidden;
            max-height: 100px;
        }
    }

    &__image {
        position: absolute;
        height: 100%;
        margin: 0 auto;
        object-fit: cover;
        object-position: top;
        width: 100%;
        border-radius: 0 0 24px 24px;
    }

    &__header {
        display: flex;
        align-items: flex-start;
    }

    &__title {
        flex: 1;

        @include pcStyles.heading4();
    }

    &__stars {
        display: flex;
        align-items: center;

        [dir='ltr'] & {
            margin-left: 20px;
        }

        [dir='rtl'] & {
            margin-right: 20px;
        }
    }

    &__stars-count {
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.7);

        [dir='ltr'] & {
            margin-left: 6px;
        }

        [dir='rtl'] & {
            margin-right: 6px;
        }
    }

    &__text {
        flex: 1;

        @include pcStyles.text-size(body-2);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;

        color: rgba(255, 255, 255, 0.85);

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            position: relative;
            visibility: visible;
            opacity: 1;
            min-height: 46px;
            max-height: 200px;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        padding: 16px 32px;
        background-color: rgba(54, 41, 61);
        border-radius: 0 0 24px 24px;
        gap: 8px;
        z-index: 1;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            padding: 18px 24px;
        }
    }
}
