@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}menu';

$border-color: rgba(255, 255, 255, 0.2);

#{$block} {
    position: relative;
    z-index: 10;
    border-bottom: 1px solid $border-color;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        position: relative;
        z-index: 15;
        display: flex;
        align-items: center;
        padding: 24px 34px 24px 0;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            flex: 1;
        }
    }

    & &__logo-icon {
        width: 150px;
        height: 32px;
    }

    &__desktop-menu {
        display: flex;
        flex: 1;
        align-self: stretch;
        justify-self: stretch;
        padding: 0 34px;
        border-right: 1px solid $border-color;
        border-left: 1px solid $border-color;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            display: none;
        }
    }

    &__desktop-menu-items {
        display: flex;
        flex: 1;
        align-items: stretch;
    }

    &__desktop-menu-item {
        display: flex;
        align-items: center;
        margin-left: 32px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;

        &:first-child {
            margin-left: 0;
        }

        &_active {
            border-bottom: 4px solid #ffbe5c;
        }
    }

    &__desktop-social-links {
        display: flex;
        margin: 0;
        padding: 0 0 0 34px;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            display: none;
        }
    }

    &__desktop-social-links-item {
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__mobile-menu-button-wrapper {
        display: none;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            display: block;
        }
    }

    &__mobile-menu-button {
        display: flex;
        position: relative;
        z-index: 20;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

        &_open {
            border: 2px solid rgba(255, 255, 255, 0.5);
            border-radius: 22px;
        }
    }

    &__mobile-menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        padding: 86px 0 38px;
        background: rgba(22, 13, 27, 0.42);
        backdrop-filter: blur(60px);
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;

        &_open {
            @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
                display: block;
            }
        }
    }

    &__mobile-menu-items {
        margin: 20px 0 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $border-color;
    }

    &__mobile-menu-item {
        margin-top: 36px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__mobile-social-link {
        margin-top: 28px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__link {
        white-space: nowrap;
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;

        &:hover {
            opacity: 0.8;
        }

        &_lg {
            font-size: 20px;
            line-height: 20px;
            font-weight: 400;
        }

        &_disabled {
            cursor: default;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__comming-soon {
        position: relative;
    }

    &__comming-soon-text {
        opacity: 0.5;
    }

    &__comming-soon-label {
        position: absolute;
        top: -14px;
        right: 0;
        font-size: 10px;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            top: -18px;
            right: auto;
            left: 0;
        }
    }

    &__link-icon {
        margin: 4px 0 0 10px;
    }
}
