@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../../variables.scss';

$block: '.#{variables.$ns}private-colors-select-popup';

#{$block} {
    display: flex;
    width: 465px;
    height: 472px;
    border-radius: 8px;

    background-color: #383438;

    &__left,
    &__right {
        padding: var(--g-spacing-2) var(--g-spacing-2) 0;
        height: 100%;
        overflow: auto;
    }

    &__left {
        min-width: 150px;
        border-right: 1px solid var(--g-color-line-generic);
    }

    &__right {
        flex-grow: 1;
    }

    &__colors-list {
        &-item {
            --g-color-base-selection: rgba(255, 190, 92, 0.2);
            border-radius: var(--g-border-radius-m);
            cursor: pointer;
            margin-bottom: 2px;
        }
    }

    &__color-item {
        display: flex;
        align-items: center;
        gap: var(--g-spacing-1);
        padding: 5px var(--g-spacing-2);
    }
}
