@use '~@gravity-ui/uikit/styles/themes/_index.scss' as themes;
@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../variables.scss';

$block: '.#{variables.$ns}example-block';

#{$block} {
    margin-bottom: 16px;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }

    &__theme-root.yc-root {
        background: var(--g-color-base-background);
        color: var(--g-color-text-primary);

        @include themes.g-theme-common;

        &_theme_light {
            @include themes.g-theme-light;
        }

        &_theme_dark {
            @include themes.g-theme-dark;
        }

        &_theme_light-hc {
            @include themes.g-theme-light-hc;
        }

        &_theme_dark-hc {
            @include themes.g-theme-dark-hc;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 40px;

        &_theme_dark {
            background: #251b25;
        }

        &_theme_light {
            background: #fff;
        }

        & > * {
            margin: 0 8px;
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            flex-direction: column;
            align-items: center;

            & > * {
                margin-top: 16px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px;
        background: #251b25;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        margin: 0 8px;
        cursor: pointer;

        &_open {
            background-color: rgba(255, 190, 92, 0.1);
            border-radius: 5px;
        }
    }

    &__code {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        transition: all 0.3s ease-in-out;

        pre {
            margin: 0;
        }

        &_open {
            max-height: 5000px;
            opacity: 1;
        }
    }
}
