@use '~@gravity-ui/uikit/styles/themes/_index.scss' as themes;
@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../variables.scss';

$block: '.#{variables.$ns}example-block';

#{$block} {
    margin-bottom: 16px;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }

    &__theme-root.g-root_theme_dark {
        --g-color-base-background: #251b25;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
        flex-wrap: wrap;
        row-gap: 20px;

        & > * {
            margin: 0 8px;
        }

        ul {
            padding-left: 0;

            p {
                margin-bottom: 0;
            }
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            flex-direction: column;
            align-items: center;

            & > * {
                margin-top: 16px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px;
        background: #251b25;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        margin: 0 8px;
        cursor: pointer;

        &_open {
            background-color: rgba(255, 190, 92, 0.1);
            border-radius: 5px;
        }
    }

    &__code {
        position: relative;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        transition: all 0.3s ease-in-out;

        pre {
            margin: 0;
        }

        &_open {
            max-height: 5000px;
            opacity: 1;
        }
    }

    &__copy-icon {
        position: absolute;
        right: 12px;
        top: 12px;
        padding: 4px;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.5);
    }
}
