@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}custom-extended-features';

#{$block} {
    @include pcStyles.animate();

    &__items {
        margin-top: 16px;
    }

    &__header {
        display: flex;
        align-items: center;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__header-title {
        flex: 1;
    }

    &__button-desktop {
        display: block;
        margin-left: 20px;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
            display: none;
        }
    }

    &__button-mobile {
        display: none;
        justify-content: center;
        margin-top: 20px;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
            display: flex;
        }
    }

    &__item {
        display: flex;
    }

    &__icon {
        @include pcStyles.icon();

        display: block;
        margin-bottom: pcVariables.$indentXXS;
    }
}
