@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}header-maintainer-list';

#{$block} {
    display: flex;
    gap: 12px;
    align-items: center;

    background: #160d1b;
    border-radius: 1000px;
    padding: 4px 4px 4px 20px;

    &__title {
        font-size: 15px;
        line-height: 20px;
    }

    &__maintainer {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    &__name {
        padding-right: 12px;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            display: none;
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
            display: block;
        }
    }
}
