@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../variables.scss';

$block: '.#{variables.$ns}icon-collection';

#{$block} {
    display: flex;
    flex-wrap: wrap;
    gap: pcVariables.$indentXS;

    @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
        justify-content: center;
    }
}
