@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '~@gravity-ui/uikit/styles/mixins' as ukitMixins;
@use '../../../../variables.scss';

$block: '.#{variables.$ns}block';

#{$block} {
    border-radius: 8px;
    border-width: 2px;
    padding: var(--g-spacing-3);

    display: flex;
    flex-direction: column;
    gap: var(--g-spacing-1);

    &:hover {
        &:not(.selected) {
            border-color: rgba(229, 229, 229, 0.4);
        }
        background-color: rgba(57, 47, 57, 1);
    }

    &__name {
        font-weight: 500;
    }
}
