@use '~@gravity-ui/uikit/styles/themes/_index.scss' as themes;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../../../variables.scss';
@use '../../../../../mixins.scss' as baseMixins;

$root: '.g-root';
$block: '.#{variables.$ns}custom-radius';

// Workaround for missing theme class in ThemeProvider
$workaroundBlockDarkTheme: &#{$block}_theme_dark;

#{$block} {
    &__px {
        margin-inline: 8px;
    }

    &__radius-input-row {
        align-items: center;
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
        input[type='number'] {
            appearance: textfield;
        }
    }
}
