@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}libraries';

#{$block} {
    margin: 56px 0 0;

    @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
        margin: 32px 0 0;
    }

    &__title {
        margin: 0 0 24px;
        font-size: 48px;
        line-height: 56px;
        font-weight: 600;
        color: #fff;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            font-size: 32px;
            line-height: 48px;
        }
    }

    &__search {
        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            margin-top: 16px;
        }
    }

    &__empty {
        flex: 1;
        margin: 40px;
        font-size: 20px;
        line-height: 22px;
        font-weight: 600;
        text-align: center;
    }

    &__col {
        display: flex;
    }

    &__filters {
        margin-bottom: 16px;
    }

    &__library {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 32px;
        min-height: 240px;
        margin-top: 16px;
        border-radius: 24px;
        text-decoration: none;
        background: #251b25;
        color: rgba(255, 255, 255, 0.7);
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: translateY(-6px);
        }

        &_primary {
            background-image: url('../../assets/primary-lib-background.svg');
            background-size: cover;
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            &:hover {
                transform: translateY(0);
            }
        }
    }

    &__library-header {
        display: flex;
        align-items: flex-start;
    }

    &__library-title {
        flex: 1;
        display: flex;
        position: relative;
        margin: 0 0 pcVariables.$indentXXXS 0;
        color: #fff;

        a {
            @include pcStyles.link();
        }
    }

    &__library-title-content {
        @include pcStyles.heading4();
    }

    &__stars {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    &__stars-count {
        margin-left: 6px;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.7);
    }

    &__description {
        flex: 1;

        @include pcStyles.text-size(body-2);

        a {
            @include pcStyles.link();
        }
    }

    &__release-info {
        display: flex;
        align-items: center;
        margin-top: 12px;
        color: rgba(255, 255, 255, 0.7);
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
    }

    &__release-info-block {
        display: flex;
        align-items: center;
        margin-left: 18px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__release-version,
    &__release-date {
        margin-left: 6px;
    }
}
