@use '../../../variables';
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '~@gravity-ui/uikit/styles/themes/_index.scss' as themes;

$block: '.#{variables.$ns}cards-preview';

#{$block} {
    width: 100%;
    height: 100%;
    overflow: auto;

    &__card {
        width: 295px;
        height: 430px;
        padding: var(--g-spacing-1) var(--g-spacing-1) 0;

        &__content {
            padding: var(--g-spacing-5) var(--g-spacing-4);
            height: 100%;

            &__footer {
                margin-block-start: auto;
            }
        }
    }
}
