@use '../../../variables.scss';

$block: '.#{variables.$ns}dashboard-example';

#{$block} {
    --g-color-base-background: rgb(34, 29, 34);

    &__logo-icon {
        width: 32px;
        height: 32px;

        color: var(--g-color-base-brand);
    }

    &__content {
        background: #160d1b;

        &,
        &-wrapper {
            width: 100%;
            height: 100%;
        }

        &-wrapper {
            padding: var(--g-spacing-3) var(--g-spacing-4);
        }
    }
}
