@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}component';

#{$block} {
    padding: 32px 40px;
    background: #251b25;
    border-radius: 16px;

    @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
        padding: 20px 26px;
        border-radius: 12px;
    }

    @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
        margin: 0 20px;
        padding: 12px 18px;
        border-radius: 10px;
    }

    &__title {
        margin-top: 0;
        color: #fff;
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
    }

    &__tabs {
        margin-bottom: 24px;
    }
}
