@use '../../../../variables.scss';

$block: '.#{variables.$ns}theme-palette-card';

#{$block} {
    padding: 30px var(--g-spacing-8);
    border-radius: 16px;
    border: 1px solid var(--g-color-line-generic);

    &_light {
        background: #fff;
        color: var(--g-color-text-brand-contrast);
    }

    &__title {
        color: var(--g-color-base-background);
    }

    &__theme-root {
        background: transparent;
        --g-button-border-radius: 8px;
    }

    &__palette-row {
        &_with-editor {
            display: grid;
            gap: var(--g-spacing-4);
            grid-template-columns: 100px auto;
        }
    }
}
