@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}layout';

#{$block} {
    display: flex;
    height: 100%;
    flex-direction: column;

    &__menu {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
        z-index: 1;
    }

    &__content {
        position: relative;
        flex: 1;
    }
}
