@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}layout';

#{$block} {
    display: flex;
    height: 100%;
    flex-direction: column;

    &__menu {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 5;
    }

    &__menu-placeholder {
        position: static;
        z-index: 4;
        opacity: 0;
        pointer-events: none;
    }

    &__content {
        flex: 1;
    }
}
