@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}templates';

#{$block} {
    background: #251b25;
    border-radius: pcVariables.$borderRadius;
    padding: 12px 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__commands-wrapper {
        width: 100%;
        padding: 16px 36px 16px 16px;
        background: #160d1b;
        border-radius: 16px;
        position: relative;
        overflow: hidden;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            width: inherit;
        }
        pre {
            margin: 0;
            overflow: auto;
        }
    }
    &__commands {
        overflow-x: auto;
        font-size: 17px;
        line-height: 30px;
        font-family: var(--yc-font-family-monospace);
    }
    &__copy {
        top: 16px;
        right: 16px;
        position: absolute;
    }
    &__tabs {
        overflow: auto;
        flex-wrap: nowrap;
    }
    &__tabs-wrapper {
        ::-webkit-scrollbar {
            display: none;
        }
    }
}
