@use '../../../../variables';
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '~@gravity-ui/uikit/styles/themes/_index.scss' as themes;

$block: '.#{variables.$ns}typography-tab';

#{$block} {
    --g-text-input-border-radius: 8px;
    --g-button-border-radius: 8px;

    &__font {
        &__font-card {
            width: 195px;
        }

        &__custom-font-radio-button {
            --g-border-radius-xl: 8px;
            align-self: flex-start;
        }

        &__custom-font-textarea {
            --g-border-radius-xl: 8px;
        }

        &__custom-font-textarea-wrapper {
            margin-block-end: 0;
        }
    }

    &__preview {
        border-radius: 16px;

        &__variant-title {
            --g-color-text-brand: rgb(233, 174, 86);
            --g-text-subheader-3-line-height: 24px;
            --g-text-subheader-3-font-size: 17px;
            --g-text-subheader-font-weight: 600;
        }
    }

    &__advance-settings {
        &__wrapper {
            width: 100%;
            gap: calc(var(--g-spacing-1) * 24);
        }

        &__raw-wrapper {
            width: 100%;
        }

        &__settings-card {
            --g-color-base-background: rgb(34, 29, 34);
            background-color: var(--g-color-base-background);

            flex: 1 1 66%;

            padding: var(--g-spacing-10) calc(var(--g-spacing-10) * 2);
            width: 100%;
        }

        &__font-select {
            --g-border-radius-xl: 8px;
        }

        &__input-setting-end-content {
            margin-inline: var(--g-spacing-2);
        }

        &__setting-input {
            width: 225px;
        }
    }
}
