@use '../../../variables.scss';

$block: '.#{variables.$ns}dashboard-preview-example';

#{$block} {
    overflow: hidden scroll;

    & .gn-aside-header__pane-container,
    & .gn-aside-header__pane-container .gn-aside-header__aside {
        height: 100%;
    }

    --gn-aside-header-collapsed-background-color: transparent;
    --gn-aside-header-expanded-background-color: transparent;

    &_light_true {
        --g-color-base-background: rgba(0, 0, 0, 0.05);

        #{$block}__content {
            background-color: rgb(255, 255, 255, 1);
        }
    }

    &_light_false {
        --g-color-base-background: rgba(255, 255, 255, 0.1);

        #{$block}__content {
            background-color: rgba(34, 29, 34, 1);
        }
    }

    &__logo-icon {
        width: 32px;
        height: 32px;

        color: var(--g-color-base-brand);
    }

    &__content {
        &-wrapper {
            padding: var(--g-spacing-3) var(--g-spacing-4);
        }
    }
}
