@use '../../../variables.scss';
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;

$block: '.#{variables.$ns}dashboard-preview-example';

#{$block} {
    & .gn-aside-header__pane-container,
    & .gn-aside-header__pane-container .gn-aside-header__aside {
        height: 100%;
    }

    & .gn-aside-header__aside {
        position: relative;
    }

    --gn-aside-header-collapsed-background-color: transparent;
    --gn-aside-header-expanded-background-color: transparent;

    &__logo-icon {
        width: 32px;
        height: 32px;

        color: var(--g-color-base-brand);
    }

    &__content-wrapper {
        height: 100%;
        padding: var(--g-spacing-3) var(--g-spacing-4);
    }

    &__content {
        height: 100%;
    }

    @media (max-width: (map-get(pcVariables.$gridBreakpoints, 'md') - 1)) {
        & .gn-aside-header {
            width: auto;
        }
    }
}
