@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../../variables.scss';

$block: '.#{variables.$ns}icon-dialog-actions';

#{$block} {
    display: flex;
    padding: 28px 32px;
    justify-content: flex-end;
    gap: 16px;

    &__copy-action {
        --yc-color-base-light: #fff;
        width: 152px;
    }

    @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
        button {
            width: 100%;
        }
    }
}
