@use '../../../../variables.scss';

$block: '.#{variables.$ns}main-settings';

#{$block} {
    --g-button-border-radius: 8px;
    --g-text-input-border-radius: 8px;

    & &__row {
        --gc-form-row-label-width: 400px;
        --gc-form-row-field-height: 44px;
        margin-block-end: 24px;

        .gc-form-row__right {
            width: 400px;
        }
    }

    &__switch-button {
        width: min-content;
    }
}
