@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}library-version';

#{$block} {
    display: flex;
    padding: 2px 8px;
    font-size: 13px;
    font-weight: 400;
    max-width: fit-content;
    min-width: 24px;
    min-height: 24px;
}
