@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}clipboard-area';

#{$block} {
    display: flex;

    &__popover {
        width: 100%;

        .g-popover__handler {
            width: 100%;
        }
    }

    &__popup {
        --g-popup-background-color: #3e3235;
        --g-popup-border-color: #3e3235;

        @include pcStyles.text-size(body-1);
        padding: 16px;
    }
}
