@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../variables.scss';

$block: '.#{variables.$ns}roadmap-icon';

#{$block} {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: var(--roadmap-background-color);
    z-index: 1;

    &__icon {
        color: var(--roadmap-default-task-color);
    }

    &_completed {
        #{$block}__icon {
            color: var(--roadmap-completed-task-color);
        }
    }

    &_progress {
        #{$block}__icon {
            color: var(--roadmap-progress-task-color);
        }
    }
}
