@use '~@gravity-ui/uikit/styles/themes/_index.scss' as themes;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';
@use '../../mixins.scss' as baseMixins;

$block: '.#{variables.$ns}contributor-list';

#{$block} {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 0 16px;
}
