@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}interactive';

#{$block} {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-image: url('../../assets/interactive_page_bg.jpg');
    background-size: cover;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 63px;
        padding-bottom: 57px;
    }

    &__logo-image {
        height: 60px;
        width: 284px;
        background-image: url('../../assets/logo.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__sliders {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
    }

    .slick-slide {
        padding: 10px;
    }

    .slick-track {
        display: flex;
        min-width: 100%;
    }

    &__settings {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 92px;
    }

    &__theme-switch {
        margin-left: 76px;
    }
}
