@use '~@gravity-ui/uikit/styles/themes/_index.scss' as themes;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../../../variables.scss';
@use '../../../../../mixins.scss' as baseMixins;

$root: '.g-root';
$block: '.#{variables.$ns}border-radius-showcase';

// Workaround for missing theme class in ThemeProvider
$workaroundBlockDarkTheme: &#{$block}_theme_dark;

#{$block} {
    padding: 40px;
    border-radius: 24px;

    &__column-transform {
        @media (max-width: (map-get(pcVariables.$gridBreakpoints, 'sm') - 1)) {
            flex-direction: column;
            width: 100%;
        }
    }

    &__card-block {
        flex-grow: 1;
        margin-inline-start: calc(var(--g-spacing-base) * 11);
        @media (max-width: (map-get(pcVariables.$gridBreakpoints, 'lg') - 1)) {
            order: 1;
            margin-inline-start: 0;
        }
    }

    &__card {
        height: 196px;
        flex-grow: 1;
    }

    &__text-input-block {
        flex-grow: 1;
        @media (max-width: (map-get(pcVariables.$gridBreakpoints, 'lg') - 1)) {
            flex-direction: column;
            width: 100%;
        }
    }
}
