@use '~@gravity-ui/uikit/styles/themes/_index.scss' as themes;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../../../variables.scss';
@use '../../../../../mixins.scss' as baseMixins;

$root: '.g-root';
$block: '.#{variables.$ns}border-radius-showcase';

#{$block} {
    padding: 40px;
    border-radius: 24px;

    &__column-transform {
        @media (max-width: (map-get(pcVariables.$gridBreakpoints, 'md') - 1)) {
            flex-direction: column;
            width: 100%;
        }
    }

    &__text-input-block {
        flex-grow: 1;
        @media (max-width: (map-get(pcVariables.$gridBreakpoints, 'lg') - 1)) {
            flex-direction: column;
            width: 100%;
        }
    }
}
