@use '../../variables.scss';

$block: '.#{variables.$ns}aikit-playground';

#{$block} {
    width: 100%;
    height: 100%;
    min-height: 500px;
    max-height: 800px;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--g-color-base-background);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
}
