@use '../../variables.scss';
@import '@gravity-ui/aikit/themes/variables';

$block: '.#{variables.$ns}aikit-playground';

#{$block} {
    --g-border-radius-xl: 10px;
    --g-aikit-color-bg-code: var(--g-color-base-misc-heavy);

    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(80vh - 48px);
    min-height: 0;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--g-color-base-background);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
}
