@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../../variables.scss';

$block: '.#{variables.$ns}icon-button';

#{$block} {
    &.g-button,
    &.g-button:has(.g-button__icon:only-child) {
        --g-button-border-radius: 16px;
        --g-button-background-color: #281a26;
        --g-button-background-color-hover: #3c2e3a;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
    }
}
