@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../../variables.scss';

$block: '.#{variables.$ns}icon-button';

#{$block} {
    --yc-button-border-radius: 16px;
    height: 62px;
    width: 62px;

    &:hover {
        --yc-button-background-color: rgba(255, 255, 255, 0.16);
    }
}
