@use '../../../../../variables.scss';

$block: '.#{variables.$ns}add-extra-color';

#{$block} {
    width: 100%;
    border-block-end: 1px solid var(--g-color-line-generic);

    &__button {
        color: var(--g-color-text-secondary);
        --g-button-border-radius: 8px;
    }
}
