@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}components-library';

#{$block} {
    &__header {
        padding: 56px 24px 72px;
        border-radius: 24px;
        color: #fff;
        background: #251b25;
        background-size: cover;
        background-image: url('../../assets/secondary-lib-background-lg.svg');

        &_primary {
            background-image: url('../../assets/primary-lib-background-lg.svg');
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
            border-radius: 0;
        }
    }

    &__title {
        margin: 0 0 8px;
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
        color: #fff;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            font-size: 28px;
            line-height: 36px;
        }
    }

    &__description {
        font-size: 17px;
        line-height: 24px;
        font-weight: 400;
    }

    &__components {
        margin-top: 8px;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
            margin: 0 20px;
        }
    }

    &__col {
        display: flex;
    }

    &__wrapper {
        display: flex;
        flex: 1;
    }

    &__component {
        display: flex;
        flex: 1;
        flex-direction: column;
        position: relative;
        padding: 20px 24px;
        margin-top: 16px;
        background: #251b25;
        border-radius: 16px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: translateY(-6px);
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            &:hover {
                transform: translateY(0);
            }
        }

        &_soon {
            opacity: 0.5;
            &:hover {
                transform: translateY(0);
            }
        }
    }

    &__component-image {
        align-self: center;
        width: 206px;
        height: 144px;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);
        background-image: url('../../assets/component-placeholder.svg');
    }

    &__component-title {
        margin-top: 24px;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #fff;
    }

    &__component-description {
        margin-top: 4px;
        font-size: 13px;
        line-height: 16px;
    }

    &__component-soon-label {
        position: absolute;
        top: 16px;
        right: 16px;
    }
}
