@use '../../../../mixins.scss' as baseMixins;
@use '../../../../variables.scss';

$block: '.#{variables.$ns}ui-samples-block-desktop';

#{$block} {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include baseMixins.window-breakpoint('sm') {
        display: none;
    }
}
