@use '../../../../variables.scss';
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;

$block: '.#{variables.$ns}main-settings';

#{$block} {
    --g-button-border-radius: 8px;
    --g-text-input-border-radius: 8px;

    & &__row {
        --gc-form-row-label-width: 400px;
        --gc-form-row-field-height: 44px;
        margin-block-end: 24px;
        align-items: center;

        .gc-form-row__right {
            width: 400px;
            flex-grow: 0;
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg')) {
            --gc-form-row-label-width: 329px;
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm')) {
            --gc-form-row-label-width: auto;
            flex-direction: column;
            align-items: flex-start;

            .gc-form-row__right {
                width: 100%;
            }
        }
    }

    &__switch-button {
        margin-top: var(--g-spacing-3);
        width: min-content;
    }

    &__text-card {
        width: 50%;
    }
}
