@use '../../../mixins.scss' as baseMixins;
@use '../../../variables.scss';

$block: '.#{variables.$ns}navigation-layout-navigation';

#{$block} {
    &__search-input {
        position: sticky;
        top: 0;
        z-index: 1;
        height: 64px;
        padding-top: 20px;
        background: var(--g-color-base-modal);
        box-sizing: border-box;
        min-height: 64px;
    }

    &__empty {
        margin-top: 16px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        text-align: center;
    }

    @include baseMixins.window-breakpoint('lg') {
        &__search-input {
            position: static;
            height: auto;
            padding: 0;
            background: none;
        }
    }
}
