@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '~@gravity-ui/uikit/styles/themes/_index.scss' as themes;
@use '../../../../variables.scss';
@use '../../../../mixins.scss' as baseMixins;

$root: '.g-root';
$block: '.#{variables.$ns}interactive-card';

// Workaround for missing theme class in ThemeProvider
$workaroundBlockDarkTheme: &#{$block}__theme-wrapper_theme_dark;

#{$block} {
    min-width: 220px;
    height: 220px;
    cursor: pointer;

    position: relative;
    perspective: 30em;

    &_flipped {
        #{$block}__side {
            &_front {
                position: absolute;
                transform: rotateY(180deg);
            }

            &_back {
                position: relative;
                transform: rotateY(0deg);
            }
        }
    }

    &__body {
        width: 100%;
        height: 100%;
        position: relative;
        pointer-events: none;
    }

    &__side {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        left: 0;
        top: 0;
        transform-style: preserve-3d;
        transition: all 0.6s ease 0s;

        &_back {
            position: absolute;
            transform: rotateY(-180deg);
        }
    }

    &__card {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 220px;
        padding: 0 40px;
        overflow: hidden;
        border-radius: var(--g-border-radius-xl);
    }

    &__theme-wrapper {
        height: 100%;
        background: none;
        border-radius: var(--g-border-radius-xl);

        &_color {
            &_yellow#{$root} {
                &_theme_light {
                    @include baseMixins.brand-vars(#ffbe5c, #fff);
                }

                &#{$workaroundBlockDarkTheme},
                &_theme_dark {
                    @include baseMixins.brand-vars(#ffbe5c, #251b25);
                }
            }

            &_blue#{$root} {
                &_theme_light {
                    @include baseMixins.brand-vars(#5282ff, #fff);
                }

                &#{$workaroundBlockDarkTheme},
                &_theme_dark {
                    @include baseMixins.brand-vars(#5282ff, #251b25);
                }
            }

            &_green#{$root} {
                &_theme_light {
                    @include baseMixins.brand-vars(#3bbc50, #fff);
                }

                &#{$workaroundBlockDarkTheme},
                &_theme_dark {
                    @include baseMixins.brand-vars(#3bbc50, #251b25);
                }
            }

            &_red#{$root} {
                &_theme_light {
                    @include baseMixins.brand-vars(#ff5958, #fff);
                }

                &#{$workaroundBlockDarkTheme},
                &_theme_dark {
                    @include baseMixins.brand-vars(#ff5958, #251b25);
                }
            }
        }
    }

    &__toaster {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .g-toast {
        width: fit-content;
    }
}

#{$block}__theme-wrapper#{$root} {
    background: var(--g-color-base-background);
    color: var(--g-color-text-primary);

    @include themes.g-theme-common;

    &_theme_light {
        @include themes.g-theme-light;
        background: #fff;
        --interactive-list-bg-color: #fff;
    }

    &#{$workaroundBlockDarkTheme},
    &_theme_dark {
        @include themes.g-theme-dark;
        background: rgba(37, 27, 37, 0.9);
        --interactive-list-bg-color: #424147;
    }

    &_theme_light-hc {
        @include themes.g-theme-light-hc;
    }

    &_theme_dark-hc {
        @include themes.g-theme-dark-hc;
    }

    &_theme_light {
        --g-color-base-brand: var(--g-color-private-brand-1000-solid);
        --g-color-base-brand-hover: var(--g-color-private-brand-900-solid);
        --g-color-base-selection: var(--g-color-private-brand-50);
        --g-color-base-selection-hover: var(--g-color-private-brand-100);
        --g-color-line-brand: var(--g-color-private-brand-600-solid);
        --g-color-text-brand: var(--g-color-private-brand-900);
        --g-color-text-link: var(--g-color-private-brand-600-solid);
        --g-color-text-link-hover: var(--g-color-private-brand-1000-solid);
    }

    &#{$workaroundBlockDarkTheme},
    &_theme_dark {
        --g-color-base-brand: var(--g-color-private-brand-1000-solid);
        --g-color-base-brand-hover: var(--g-color-private-brand-800-solid);
        --g-color-base-selection: var(--g-color-private-brand-100);
        --g-color-base-selection-hover: var(--g-color-private-brand-200);
        --g-color-line-brand: var(--g-color-private-brand-600-solid);
        --g-color-text-brand: var(--g-color-private-brand-800);
        --g-color-text-link: var(--g-color-private-brand-600-solid);
        --g-color-text-link-hover: var(--g-color-private-brand-1000-solid);

        --g-color-base-background: rgba(37, 27, 37, 0.5);
    }
}
