@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}github-button';

#{$block} {
    --g-border-radius-l: 8px;
    --g-button-background-color: #fff;

    &__content {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
    }

    &__divider {
        width: 1px;
        height: 20px;
        background-color: #d9d9d9;
    }

    &__count {
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
    }

    &:hover {
        #{$block}__divider {
            background-color: #a4a4a4;
        }
    }
}
