@use '../../../../variables.scss';

$block: '.#{variables.$ns}dashboard-example-content';

#{$block} {
    margin-block-start: var(--g-spacing-3);
    padding-inline: var(--g-spacing-4);
    padding-block-end: var(--g-spacing-3);

    --g-button-border-radius: var(--g-border-radius-s);

    &__card {
        padding: var(--g-spacing-2) var(--g-spacing-3);

        &_small {
            height: 110px;
        }

        &_big {
            height: 258px;
        }
    }

    &__info {
        margin-inline-start: var(--g-spacing-1);
    }

    &__dashboard-title {
        margin-block-end: var(--g-spacing-3);
    }

    &__chart {
        height: 180px;
    }
}
