@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}footer';

#{$block} {
    display: flex;
    padding: 26px 0;
    margin-top: 80px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
        margin-top: 40px;
        flex-direction: column;
        align-items: flex-start;
    }

    &__menu {
        display: flex;
        flex: 1;

        [dir='ltr'] & {
            margin-right: 20px;
        }

        [dir='rtl'] & {
            margin-left: 20px;
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            margin-right: 0;
            flex-direction: column;
        }
    }

    &__menu-link-icon {
        [dir='ltr'] & {
            margin-right: 8px;
        }

        [dir='rtl'] & {
            margin-left: 8px;
        }
    }

    &__menu-link {
        display: flex;
        align-items: center;
        white-space: nowrap;
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;

        [dir='ltr'] & {
            margin-left: 42px;

            &:first-child {
                margin-left: 0;
            }
        }

        [dir='rtl'] & {
            margin-right: 42px;

            &:first-child {
                margin-right: 0;
            }
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            margin-top: 26px;

            [dir='ltr'] & {
                margin-left: 0;
            }

            [dir='rtl'] & {
                margin-right: 42px;
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__menu-link-arrow {
        [dir='ltr'] & {
            margin: 4px 0 0 10px;
        }

        [dir='rtl'] & {
            margin: 4px 10px 0 0;
        }
    }

    &__text {
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            margin-top: 26px;
        }
    }
}
