@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}design-article';

#{$block} {
    padding: 32px 40px;
    background: #251b25;
    border-radius: 16px;

    @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
        margin: 0 20px;
    }

    &__title {
        margin-top: 0;
        color: #fff;
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
    }
    &__content {
        margin-bottom: 40px;
    }
}
