@use '~@gravity-ui/uikit/styles/themes/_index.scss' as themes;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../../../variables.scss';
@use '../../../../mixins.scss' as baseMixins;

$root: '.g-root';
$block: '.#{variables.$ns}examples-showcase';

#{$block} {
    padding: 40px;
    border-radius: 24px;

    @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
        padding: 20px;
    }

    &__row {
        display: flex;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            flex-direction: column;
        }
    }

    &__col {
        margin-right: 36px;

        &:last-child {
            margin-right: 0;
        }

        &_stretch {
            flex: 1;
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            margin-right: 0;
            margin-bottom: 36px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
            margin-bottom: 20px;
        }
    }

    &__sub-row {
        display: flex;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            flex-direction: column;
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            flex-direction: row;
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
            flex-direction: column;
        }
    }

    &__sub-col {
        margin-right: 40px;

        &_stretch {
            flex: 1;
        }

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            display: flex;
            margin-right: 0;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0px;
            }

            #{$block}__col-item {
                margin-bottom: 0px;
                margin-right: 40px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            display: block;
            margin-right: 36px;
            margin-bottom: 0;

            &:last-child {
                margin-right: 0px;
            }

            #{$block}__col-item {
                margin-right: 0px;
                margin-bottom: 36px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
            margin-right: 0;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0px;
            }

            #{$block}__col-item {
                margin-bottom: 20px;
                margin-right: 0px;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

    &__col-item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__col-item-elem {
        display: flex;
        align-items: center;
        margin-right: 32px;

        &_sm-gap {
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__table-wrapper {
        max-width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    &__star {
        cursor: pointer;
    }

    .g-radio-group_direction_horizontal {
        display: flex;
        align-items: center;
    }

    .g-tabs_direction_horizontal {
        min-width: 150px;
    }

    .g-table {
        &__table {
            min-width: 100%;
        }
    }

    .g-label_theme_info {
        color: var(--g-color-private-brand-1000-solid);
        background-color: var(--g-color-private-brand-200);
    }

    .g-user-avatar {
        display: block;
    }
}

#{$block}#{$root} {
    background: var(--g-color-base-background);
    color: var(--g-color-text-primary);

    @include themes.g-theme-common;

    &_theme_light {
        @include themes.g-theme-light;
    }

    &_theme_dark {
        @include themes.g-theme-dark;
    }

    &_theme_light-hc {
        @include themes.g-theme-light-hc;
    }

    &_theme_dark-hc {
        @include themes.g-theme-dark-hc;
    }

    &_theme_light {
        --g-color-base-brand: var(--g-color-private-brand-1000-solid);
        --g-color-base-brand-hover: var(--g-color-private-brand-900-solid);
        --g-color-base-selection: var(--g-color-private-brand-50);
        --g-color-base-selection-hover: var(--g-color-private-brand-100);
        --g-color-line-brand: var(--g-color-private-brand-600);
        --g-color-text-brand: var(--g-color-private-brand-900);
        --g-color-text-link: var(--g-color-private-brand-600-solid);
        --g-color-text-link-hover: var(--g-color-private-brand-1000-solid);
    }

    &_theme_dark {
        --g-color-base-brand: var(--g-color-private-brand-1000-solid);
        --g-color-base-brand-hover: var(--g-color-private-brand-800-solid);
        --g-color-base-selection: var(--g-color-private-brand-100);
        --g-color-base-selection-hover: var(--g-color-private-brand-200);
        --g-color-line-brand: var(--g-color-private-brand-600);
        --g-color-text-brand: var(--g-color-private-brand-800);
        --g-color-text-link: var(--g-color-private-brand-600-solid);
        --g-color-text-link-hover: var(--g-color-private-brand-1000-solid);

        --g-color-base-background: rgba(37, 27, 37, 0.5);
    }
}

#{$block}_color_yellow#{$root} {
    &_theme_light {
        @include baseMixins.brand-vars(#ffbe5c, #fff);
    }

    &_theme_dark {
        @include baseMixins.brand-vars(#ffbe5c, #251b25);
    }
}

#{$block}_color_red#{$root} {
    &_theme_light {
        @include baseMixins.brand-vars(#ff5958, #fff);
    }

    &_theme_dark {
        @include baseMixins.brand-vars(#ff5958, #251b25);
    }
}

#{$block}_color_green#{$root} {
    &_theme_light {
        @include baseMixins.brand-vars(#3bbc50, #fff);
    }

    &_theme_dark {
        @include baseMixins.brand-vars(#3bbc50, #251b25);
    }
}

#{$block}_color_blue#{$root} {
    &_theme_light {
        @include baseMixins.brand-vars(#5282ff, #fff);
    }

    &_theme_dark {
        @include baseMixins.brand-vars(#5282ff, #251b25);
    }
}
