@use '../../mixins.scss' as baseMixins;
@use '../../variables.scss';

$block: '.#{variables.$ns}navigation-layout';

#{$block} {
    display: flex;
    margin-left: auto;
    padding-left: 48px;
    max-width: calc(1232px + (100vw - 1232px) / 2);
    height: 100%;
    box-sizing: content-box;

    &__mobile-navigation-control {
        display: none;
        justify-content: center;
        padding: 12px 20px;
        margin: 6px 0 24px;
        border-radius: 16px;
        background: #251b25;
        font-size: 15px;
        line-height: 20px;
        cursor: pointer;
    }

    &__mobile-navigation-control-label {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 8px;
    }

    &__mobile-navigation-control-arrow {
        transform: rotate(-90deg);
    }

    &__mobile-navigation-control-section {
        color: #fff;
    }

    &__mobile-navigation-control-sub-section {
        color: rgba(255, 255, 255, 0.5);
    }

    &__mobile-navigation-header {
        display: none;
        padding: 20px 0;
    }

    &__mobile-navigation-header-title {
        flex: 1;
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
    }

    &__mobile-navigation-header-close {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        margin-left: 16px;
        cursor: pointer;
    }

    &__navigation-wrap {
        flex-basis: 24%;
        min-width: 296px;
        max-width: 296px;
        max-height: 100%;
        padding: 0 21px 48px 16px;
        background: var(--g-color-base-modal);
        overflow: auto;
    }

    &__navigation {
        display: block;
    }

    &__content-wrap {
        flex-grow: 1;
        overflow: auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 904px;
        min-height: calc(100% - 40px);
        margin-right: auto;
        padding-top: 40px;
        padding-right: 48px;
        padding-left: 32px;
        box-sizing: content-box;
    }

    & &__footer {
        padding: 0;

        & .col {
            padding: 0;
        }
    }

    @include baseMixins.window-breakpoint('lg') {
        flex-direction: column;
        max-width: none;
        height: auto;
        min-height: 100%;
        padding: 24px 40px 0;
        box-sizing: border-box;

        &__mobile-navigation-control {
            display: flex;
        }

        &__mobile-navigation-header {
            display: flex;
        }

        &__navigation-wrap {
            flex-basis: auto;
            max-width: initial;
            padding: 0 8px;
            background: none;
        }

        &__navigation {
            display: none;

            &_mobile-open {
                display: block;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 30;
                padding: 0 20px 20px;
                overflow-y: auto;
                background: #160d1b;
            }
        }

        &__content-wrap {
            display: flex;
            flex-direction: column;
            padding: 0 8px;
            overflow: visible;
        }

        &__content {
            flex-grow: 1;
            max-width: none;
            height: 100%;
            min-height: initial;
            margin: 0;
            padding: 0;
        }
    }

    @include baseMixins.window-breakpoint('sm') {
        padding: 0;

        &__navigation-wrap {
            padding: 0;
        }

        &__content-wrap {
            padding: 0;
        }

        &__mobile-navigation-control {
            margin: 12px 20px;
        }

        & &__footer {
            box-sizing: border-box;
            padding: 0 16px;

            & .col {
                padding: 0 8px;
            }
        }
    }
}
