@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}custom-banner';

@mixin subtitle {
    @include pcStyles.heading5();
    font-weight: normal;
}

#{$block} {
    @include pcStyles.animate();

    $class: &;
    $borderRadius: pcVariables.$borderRadius;

    &__content {
        width: 100%;
        border-radius: $borderRadius;
        display: flex;

        min-height: 271px;
    }

    &__title {
        text-align: center;
        @include pcStyles.heading2();

        a {
            @include pcStyles.link();
        }
    }

    &__info,
    &__image {
        flex: 1;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 32px;
    }

    &__subtitle {
        text-align: center;
        display: inline-block;
        margin-top: 8px;
        @include subtitle();

        & p {
            @include subtitle();
        }
    }

    &__commands {
        width: 800px;
        margin-top: 32px;
        padding: 16px;
        background: #160d1b;
        border-radius: 16px;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            width: auto;
        }
    }

    &__command {
        margin-top: 8px;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__buttons {
        display: flex;
        margin-top: 28px;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__button {
        margin: 0 8px;

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'sm') - 1) {
            margin: 8px 0;
        }
    }
}
