@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/inter/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/inter/Inter-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/inter/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/inter/Inter-SemiBoldItalic.woff2') format('woff2');
}

.yc-root {
    --yc-font-family-sans: 'Inter', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    --yc-text-accent-font-weight: 600;

    --yc-color-base-background: #160d1b;
    --yc-text-display-4-font-size: 56px;
    --yc-text-display-4-line-height: 64px;

    --yc-border-radius-xl: 32px;
    --yc-border-radius-l: 32px;
    --yc-color-line-generic-accent: #fff;

    --yc-color-base-special: #ffbe5c;
    --yc-color-base-special-hover: #faae3d;
    --yc-my-color-brand-text-contrast: rgba(0, 0, 0, 0.85);

    margin: 0;
    background-color: var(--yc-color-base-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .pc-BackgroundMedia__media {
        max-width: 100%;
    }
}
