@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/inter/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/inter/Inter-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/inter/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/inter/Inter-SemiBoldItalic.woff2') format('woff2');
}

html,
body,
#__next {
    height: 100%;
}

body.g-root {
    --g-font-family-sans: 'Inter', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    --g-text-accent-font-weight: 600;

    --g-color-base-background: #160d1b;
    --g-text-display-4-font-size: 56px;
    --g-text-display-4-line-height: 64px;

    --g-border-radius-xl: 32px;
    --g-border-radius-l: 32px;
    --g-color-line-generic-accent: #fff;

    --g-color-base-special: #ffbe5c;
    --g-color-base-special-hover: #faae3d;

    --g-color-text-brand-contrast: rgba(0, 0, 0, 0.85);
    --g-color-base-selection: rgba(37, 27, 37, 0.25);

    --yc-modal-border-radius: 24px;
    --g-color-base-modal: #251b25;

    --pc-border-radius: 24px;

    .yc-popup-wrapper {
        // fix to make popup visible in sheet
        z-index: 100001;
    }

    margin: 0;
    background-color: var(--g-color-base-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .markdown-body {
        color: #fff;
        background-color: transparent;

        img {
            background-color: transparent;
        }

        table tr,
        table tr:nth-child(2n) {
            background-color: transparent;
        }

        a:not(.yc-link) {
            color: var(--g-color-base-special);
            text-decoration: none;

            &:visited {
                color: var(--g-color-base-special);
            }

            &:hover {
                color: var(--g-color-base-special-hover);
                text-decoration: none;
            }
        }

        pre {
            background-color: var(--g-color-base-background);
        }
    }
}
