html,
body,
#__next {
    height: 100%;
}

body.g-root,
.g-root {
    &_theme_dark {
        --g-color-base-background: #160d1b;
        background-color: var(--g-color-base-background);
    }
}

.g-root {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &__global-loader {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999999;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--g-color-base-background);
    }

    &:not(.sandbox) {
        --g-font-family-sans: 'Inter', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
        // --g-text-body-font-family: var(--g-font-family-sans);
        --g-text-accent-font-weight: 600;

        --g-text-display-4-font-size: 48px;
        --g-text-display-4-line-height: 56px;

        --g-border-radius-xl: 32px;
        --g-border-radius-l: 32px;

        --g-modal-border-radius: 24px;

        --pc-border-radius: 24px;

        .g-popup-wrapper {
            // fix to make popup visible in sheet
            z-index: 100001;
        }

        --g-color-base-modal: #251b25;
        --g-color-base-special: #ffbe5c;
        --g-color-base-special-hover: #faae3d;
        --g-color-base-selection: rgba(37, 27, 37, 0.25);

        --g-color-line-generic-accent: #fff;

        --g-color-text-brand-contrast: rgba(0, 0, 0, 0.85);
    }

    .markdown-body {
        color: #fff;
        background-color: transparent;

        img {
            background-color: transparent;
        }

        table tr,
        table tr:nth-child(2n) {
            background-color: transparent;
        }

        a:not(.g-link) {
            color: var(--g-color-base-special);
            text-decoration: none;

            &:visited {
                color: var(--g-color-base-special);
            }

            &:hover {
                color: var(--g-color-base-special-hover);
                text-decoration: none;
            }
        }

        pre {
            background-color: var(--g-color-base-background);
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            position: relative;

            a.anchor-link {
                position: absolute;
                float: left;
                margin-left: -26px;
                width: 26px;
                padding-right: 6px;
                padding-left: 4px;
                box-sizing: border-box;
                text-align: right;
                opacity: 0;
                line-height: 1.1;
            }

            &:hover {
                a.anchor-link {
                    opacity: 1;
                }
            }
        }

        li + li {
            margin-top: 0;
        }

        ol.g-breadcrumbs {
            box-sizing: border-box;
        }
    }

    .pc-page-constructor {
        background-color: transparent;
    }
}

.g-fun-gravity {
    --g-step-fun-gravity: -2px;

    @keyframes gravity-1 {
        0%,
        100% {
            transform: translate(0px, 0px);
        }

        20% {
            transform: translate(var(--g-step-fun-gravity), var(--g-step-fun-gravity));
        }

        40% {
            transform: translate(calc(2 * var(--g-step-fun-gravity)), var(--g-step-fun-gravity));
        }

        60% {
            transform: translate(var(--g-step-fun-gravity), (calc(2 * var(--g-step-fun-gravity))));
        }

        80% {
            transform: translate(var(--g-step-fun-gravity), var(--g-step-fun-gravity));
        }
    }

    @keyframes gravity-2 {
        0%,
        100% {
            transform: translate(0px, 0px);
        }

        20% {
            transform: translate(calc(2 * var(--g-step-fun-gravity)), var(--g-step-fun-gravity));
        }

        40% {
            transform: translate(var(--g-step-fun-gravity), (calc(2 * var(--g-step-fun-gravity))));
        }

        60% {
            transform: translate(calc(2 * var(--g-step-fun-gravity)), var(--g-step-fun-gravity));
        }

        80% {
            transform: translate(var(--g-step-fun-gravity), (calc(2 * var(--g-step-fun-gravity))));
        }
    }

    *:nth-child(2n) {
        animation: gravity-1 14s ease-in-out infinite;
    }

    *:nth-child(3n) {
        animation: gravity-2 12s ease-in-out infinite;
        animation-delay: 2s;
    }

    /* Пауза при наведении */
    *:hover {
        animation-play-state: paused;
    }
}
