@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}templates-block';

#{$block} {
    @include pcStyles.animate();

    &__title {
        @include pcStyles.heading2();

        margin-bottom: pcVariables.$indentM;
    }
}
