@use '~@gravity-ui/page-constructor/styles/styles.scss' as pcStyles;
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;
@use '../../variables.scss';

$block: '.#{variables.$ns}templates-block';

#{$block} {
    @include pcStyles.animate();
    &__title {
        @include pcStyles.heading2();
        margin-bottom: pcVariables.$indentM;
    }

    &__background {
        position: absolute;
        width: 100%;
        height: calc(100% + 160px);
        top: -80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__circle {
        position: absolute;
        height: 110%;
        box-shadow: -2px 0 1px -2px var(--g-color-base-special),
            2px 0 1px -2px var(--g-color-base-special);
        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg') - 1) {
            height: 80%;
        }
        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'md') - 1) {
            height: 0%;
        }
    }
    &__circle_large {
        border-radius: 14% / 60%;
        width: 90%;
    }
    &__circle_medium {
        border-radius: 18% / 55%;
        width: 80%;
    }
    &__circle_small {
        border-radius: 24% / 50%;
        width: 70%;
    }
    &__templates-wrapper {
        z-index: 1;
        position: relative;
    }
}
