name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  verify_files:
    name: Verify Files
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ github.token }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 24
        cache: npm
    - name: Install Packages
      run: npm ci
    - name: Shape packages-versions.json
      run: npm run get-packages-versions
    - name: Lint Files
      run: npm run lint
    - name: Typecheck
      run: npm run typecheck
    - name: Build
      run: npm run build
      env:
        GITHUB_TOKEN: ${{ github.token }}
