name: Deploy

on:
  workflow_run:
    workflows: ["Update og images"]
    types: ["completed"]
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      # Install dependencies
      - name: Install dependencies
        run: npm ci
      # Lint
      - name: Lint
        run: npm run lint
      # Build frontend
      - name: Build & Export
        run: npm run build && npm run export
        env:
          GITHUB_TOKEN: ${{ github.token }}
      # Deploy
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          cname: gravity-ui.com
