name: GPT Translate

on:
  pull_request:
    paths:
      - 'src/content/local-docs/libs'

permissions: write-all

jobs:
  translations:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: ['ru', 'ko', 'es', 'de', 'zh', 'fr']
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Get modified files
        id: get-modified-files
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          MODIFIED_FILES=$(git diff --name-only HEAD^ HEAD | grep -E 'src/content/local-docs/libs/.*/README\.md$' || echo "")
          echo "modified_files=$(echo "$MODIFIED_FILES" | tr '\n' ',' | sed 's/,$//')" >> $GITHUB_OUTPUT
      - name: Prepare inputs for ${{ matrix.language }}
        id: prepare-inputs
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MODIFIED_FILES: ${{ steps.get-modified-files.outputs.modified_files }}
          LANGUAGE: ${{ matrix.language }}
        run: |
          OUTPUT_FILES=$(echo "$MODIFIED_FILES" | sed "s/README\.md/README-$LANGUAGE.md/g")

          echo "Files to translate to $LANGUAGE:"
          echo "$MODIFIED_FILES" | tr ',' '\n'

          echo "Resulting files after translation to $LANGUAGE:"
          echo "$OUTPUT_FILES" | tr ',' '\n'

          echo "input_files=$(echo "$MODIFIED_FILES" | tr '\n' ',' | sed 's/,$//')" >> $GITHUB_OUTPUT
          echo "output_files=$(echo "$OUTPUT_FILES" | tr '\n' ',' | sed 's/,$//')" >> $GITHUB_OUTPUT
      - name: Run translations
        uses: dgaponov/gpt-translate@master
        with:
          provider: 'openrouter'
          apikey: ${{ secrets.OPENROUTER_API_KEY }}
          model: 'x-ai/grok-4-fast:free'
          inputFiles: ${{ steps.prepare-inputs.outputs.input_files }}
          outputFiles: ${{ steps.prepare-inputs.outputs.output_files }}
          languages: ${{ matrix.language }}
          prompt: |
            Please translate the README source file to {targetLanguage}. \
              Make the translation sound as natural as possible. \
              Keep the HTML snippet with the language options in the same place as in the source file. \
              Do not translate the first line in the source file if it looks like the name of the library. \
              For example, don't translate @gravity/uikit or Axios Wrapper - they need to be left in place.
