@use '../../../../variables.scss';
@use '~@gravity-ui/page-constructor/styles/variables.scss' as pcVariables;

$block: '.#{variables.$ns}advanced-color-settings-table';

#{$block} {
    border-collapse: collapse;

    &__cell {
        width: 410px;
        padding-inline: var(--g-spacing-5);
        text-align: left;
        border-block-end: 1px solid var(--g-color-line-generic-solid);
        border-inline-end: 1px solid var(--g-color-line-generic-solid);

        @media (max-width: map-get(pcVariables.$gridBreakpoints, 'lg')) {
            width: 335px;
        }

        &_group {
            padding-block: var(--g-spacing-4) var(--g-spacing-1);
        }

        &_header {
            border-block-end: 5px solid var(--g-color-border-secondary);
            padding-block-end: var(--g-spacing-6);
        }
    }

    &__row > &__cell:first-child {
        padding-inline-start: 0;
    }

    &__theme-toggle {
        width: 100%;
        --g-border-radius-xl: 8px;
    }
}
